{% include 'front.html' %}

     <section id="about" class="section-padding text-center mission">
        <div class="table-container container">
            
                <table border="0" cellpadding="3" cellspacing="1"  id = "td" rules=rows>
                <caption>选择下载的文件</caption>
                    <tr bgcolor="#FFFFFF">
                    <td style="">上传日期</td>
                    <td style="">文件名</td>
                    <td style="">操作</td>

                    </tr>
                    {% for line in downloads%}
                        <tr bgcolor="#FFFFFF" >
                            <td style="">{{line.create_time}}</td>
                            <td style="">{{line.file_name}}</td>
                            <td style=""><a href = "/media/{{line.file_path}}">下载</a></td>
                        </tr>
                    {% endfor %}
                </table>      
    </section> <!-- End about -->
<div id="pages" class="text-center" >
        <nav>
            <ul class="pagination">
                <li class="step-links">
                {% if downloads.has_previous %}
                    <a class='active' href="?page={{ downloads.previous_page_number }}&cate={{cateid}}">上一页</a>
                {% endif %}
                <span class="current">
                    Page {{ downloads.number }} of {{ downloads.paginator.num_pages }}</span>

                {% if downloads.has_next %}
                    <a class='active' href="?page={{ downloads.next_page_number }}&cate={{cateid}}">下一页</a>
                {% endif %}
                </li></ul></nav>
</div>
    
{%include 'footer.html'%}

      