<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>信工学院党支部</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico"/>
    <link rel="stylesheet" href = "../static/layui2/layui/css/layui.css">
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>

  <script src="../static/layui/layui/layui.js"></script>
  <div class=".nav">
    <ul class="layui-nav" lay-filter="">
  <li class="layui-nav-item"><a href="timer/">计时系统</a></li>
  <li class="layui-nav-item"><a href="check/">查询系统</a></li>
   <li class="layui-nav-item"><a href="http://zzb.cdu.edu.cn/">成大党委组织部</a></li>
   <li class="layui-nav-item"><a href="https://weibo.com/u/6394953874?nick=%E6%88%90%E5%A4%A7%E4%BF%A1%E5%B7%A5%E6%96%B0%E9%9D%92%E5%B9%B4&is_hot=1">微博</a></li>
  <li class="layui-nav-item"><a href="http://xgxy.cdu.edu.cn/p/42/">党建新闻</a></li>

</ul>
  </div>
  
    <div class="loading">
      <span>信工学院党支部官网</span>
    </div>
    <script>
//注意：导航 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){
  var element = layui.element;
  
  //…
});
</script>
  </body>
</html>
